@using FirstWebApplication.Models

@model IEnumerable<Department>
@{
    ViewBag.Title = "Department List";
}

<div>
    <h2>Department List</h2>
    <ul>
        @foreach (Department department in @Model)
            {
                <li>
                    @Html.ActionLink(department.DeptName, "Index", "Employee", new {departmentId = department.DeptId }, null)
                </li>
            }

    </ul>
</div>

