@model IEnumerable<MVCDemo.Models.Employee>
@using MVCDemo.Models;

@{
    ViewBag.Title = "Employee List";
}

<div>
    <h2>Employee List</h2>
        
    <ul>
        @foreach(Employee employee in @Model)
            {
               <li>
                   <b>@Html.ActionLink(employee.EmpName, "Details", new {id = employee.EmpId })</b>
               </li>
            }
    </ul>
</div>

